.slide-banner
    ol
        li.active
        li
        li
    ul
        li.active(style="background-image: url('imgs/banner.png')")
            h3 我们期待与您的合作共赢共享！
            p 全新金融模式，让您的投资更具价值！
            a(href="contact.html") 联系我们
        li(style="background-image: url('imgs/banner.png')")
            h3 全新金融模式，让您的投资更具价值！
            p 我们期待与您的合作共赢共享！
            a(href="contact.html") 联系我们
        li(style="background-image: url('imgs/banner.png')")
            h3 我们期待与您的合作共赢共享！
            p 全新金融模式，让您的投资更具价值！
            a(href="contact.html") 联系我们
    span.control-left
    span.control-right