footer
    .areaheart
        ul
            li
                a(href="about.html") 走进巨盛
            li
                a(href="product.html") 旗下产品
            li
                a(href="news.html") 新闻资讯
            li
                a(href="team.html") 巨盛团队
            li
                a(href="contact.html") 联系我们
        p Copyright © 2016 巨盛财富  版权所有<span>鄂ICP备13002238号-1</span>服务热线：027-87127777-8829