header
    .areaheart
        h1
            a(href="index.html")
                img(src="public/imgs/logo.png",alt="巨盛财富")
        ul
            li.active
                a(href="index.html") 首页
            li
                a(href="about.html") 走进巨盛
                ul
                    li.active
                        a(href="about.html") 公司简介
                    li
                        a(href="about-2.html?sort=ry") 荣誉资质
                    li
                        a(href="about-3.html?sort=ys") 特点与优势
                    li
                        a(href="about-4.html?sort=jg") 组织机构
            li
                a(href="product.html") 旗下产品
            li
                a(href="news.html") 新闻资讯
                ul
                    li.active
                        a(href="news.html") 巨盛资讯
                    li
                        a(href="news.html?sort=shidian") 巨盛视点
            li
                a(href="team.html") 巨盛团队
                ul
                    li.active
                        a(href="team.html") 高管团队
                    li
                        a(href="team.html?sort=sc") 二级市场团队
                    li
                        a(href="team.html?sort=gq") 股权投资团队
                    li
                        a(href="team.html?sort=bg") 海外并购团队
                    li
                        a(href="team.html?sort=yx") 营销团队
            li
                a(href="javascript:void(0);") ENGLISH
