.page-box
  ul.page
    li
      a.prev(href="javascript:void(0);") 上一页
    li
      a.p-link(href="javascript:void(0);") 1
    li
      a.p-link(href="javascript:void(0);") 2
    li
      a.p-link(href="javascript:void(0);") 3
    li
      a.p-link(href="javascript:void(0);") 4
    li
      a.p-link(href="javascript:void(0);") 5
    li
      a.disabled(href="javascript:void(0);") ...
    li
      a.p-link(href="javascript:void(0);") 10
    li
      a.next(href="javascript:void(0);") 下一页