table
  thead
    tr
      th 名称
      th 净值
      th 更新日期
  tbody
    tr
      td
        a(href="javascript:(0)") 6666666
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 7777777
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛基金1期
      td 3.6437
      td 2016/12/22
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 巨盛1期
      td 3.6437
      td 2016/4/1
    tr
      td
        a(href="javascript:(0)") 8888888
      td 3.6437
      td 2016/4/1