html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 12px;
  font-family: Avenir Next, Nunito, Helvetica Neue, Helvetica, Microsoft YaHeiHei UI, Microsoft YaHei, sans-serif;
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
}
