doctype html
html(lang="zh-cn")
    head
        include includes/meta
        title 走进巨盛
        meta(name="description" content="巨盛财富公司介绍")
        meta(name="keywords" content="新三板，基金，投资，理财，财富，巨盛基金，巨盛财富")
        link(rel="stylesheet" href="build/common.css")
        link(rel="stylesheet" href="build/mixture.css")
    body
        header
            .areaheart
                h1
                    a(href="index.html")
                        img(src="imgs/logo.png",alt="巨盛财富")
                ul
                    li
                        a(href="index.html") 首页
                    li.active
                        a(href="about.html") 走进巨盛
                        ul
                            li
                                a(href="about.html") 公司简介
                            li
                                a(href="about-2.html?sort=ry") 荣誉资质
                            li
                                a(href="about-3.html?sort=ys") 特点与优势
                            li.active
                                a(href="about-4.html?sort=jg") 组织机构
                    li
                        a(href="product.html") 旗下产品
                    li
                        a(href="news.html") 新闻资讯
                        ul
                            li
                                a(href="news.html") 巨盛资讯
                            li
                                a(href="news.html?sort=shidian") 巨盛视点
                    li
                        a(href="team.html") 巨盛团队
                        ul
                            li
                                a(href="team.html") 高管团队
                            li
                                a(href="team.html?sort=sc") 二级市场团队
                            li
                                a(href="team.html?sort=gq") 股权投资团队
                            li
                                a(href="team.html?sort=bg") 海外并购团队
                            li
                                a(href="team.html?sort=yx") 营销团队
                    li
                        a(href="javascript:void(0);") ENGLISH
        section
            .min-banner(style="background-image: url('imgs/min-show-01.png')")
                .areaheart
                    h2 专注与可信赖的巨盛财富
                    p JUSHENG WEALTH FOCUSED AND TRUSTED
            .section-container
                .areaheart.clearfix
                    .sidebar-left
                        dl.sidebar
                            dt
                                h3 走进巨盛
                                em ABOUT
                            dd
                                a(href="about.html") 公司简介
                            dd
                                a(href="about-2.html?sort=ry") 荣誉资质
                            dd
                                a(href="about-3.html?sort=ys") 特点与优势
                            dd
                                a.active(href="about-4.html?sort=jg") 组织机构
                            dd
                                a(href="contact.html")
                                    img(src="imgs/contact-us-banner.png",alt="contact us")
                    .sidebar-right
                        ul.nav-map
                            li
                                span 您现在的位置：
                            li.map-page
                                a(href="index.html") 首页
                            li.map-page
                                a(href="about.html") 走进巨盛
                            li
                                a(href="javascript:void(0)") 组织机构
                        .content.about-page.img-center
                            img(src="imgs/about-04.png",alt="about")
        include includes/footer
        script(src="lib/bower_components/jquery/dist/jquery.min.js")
        script(src="build/common.js")
        script(src="build/mixture.js")