doctype html
html(lang="zh-cn")
    head
        include includes/meta
        title 巨盛财富
        meta(name="description" content="巨盛财富首页")
        meta(name="keywords" content="新三板，基金，投资，理财，财富，巨盛基金，巨盛财富")
        link(rel="stylesheet" href="build/common.css")
        link(rel="stylesheet" href="build/index.css")
    body
        header
            .areaheart
                h1
                    a(href="index.html")
                        img(src="imgs/logo.png",alt="巨盛财富")
                ul
                    li.active
                        a(href="index.html") 首页
                    li
                        a(href="about.html") 走进巨盛
                        ul
                            li
                                a(href="about.html") 公司简介
                            li
                                a(href="about-2.html?sort=ry") 荣誉资质
                            li
                                a(href="about-3.html?sort=ys") 特点与优势
                            li
                                a(href="about-4.html?sort=jg") 组织机构
                    li
                        a(href="product.html") 旗下产品
                    li
                        a(href="news.html") 新闻资讯
                        ul
                            li
                                a(href="news.html") 巨盛资讯
                            li
                                a(href="news.html?sort=shidian") 巨盛视点
                    li
                        a(href="team.html") 巨盛团队
                        ul
                            li
                                a(href="team.html") 高管团队
                            li
                                a(href="team.html?sort=sc") 二级市场团队
                            li
                                a(href="team.html?sort=gq") 股权投资团队
                            li
                                a(href="team.html?sort=bg") 海外并购团队
                            li
                                a(href="team.html?sort=yx") 营销团队
                    li
                        a(href="javascript:void(0);") ENGLISH
        section
            include includes/banner
            .about-us.areaheart
                h3 sfas
                p.cn.
                    深圳巨盛财富投资管理有限公司成立于2015年12月24日 ，注册资本2000万元经营范围为<br>基金管理、投资管理、企业管理咨询与营销策划服务等。公司是一家在中国证券投资基金业协会备案的专业化私募基金管理机构。

                p.en.
                    Shenzhen JuSheng wealth investment management co., LTD., founded in 2015 on December 24, the registered capital of 20 million yuan Scope of business for fund management, investment management, enterprise management consulting and marketing services. Company is a specialization of securities investment fund industry association in China for the record private equity fund management institutions.

            .product.areaheart.clearfix
                h3.slide-title
                    strong 旗下产品
                dl
                    dt
                        a(href="sort.html")
                            img(src="imgs/product-1.png",alt="主动管理型产品")
                    dd
                        h4
                            a(href="sort.html") 主动管理型产品
                        p
                            a(href="sort.html").
                                通过信托产品，基金专户，契约集合等方式募集客户的资金投资于资本市场
                dl
                    dt
                        a(href="javascript:void(0);")
                            img(src="imgs/product-2.png",alt="新三版基金")
                    dd
                        h4
                            a(href="javascript:void(0);") 新三版基金
                        p
                            a(href="javascript:void(0);").
                                新三板主要负责人由中国第一批保荐代表人和IPO律师组成，核心投资团队包含各行业资深的投资人才、研究人才、并购人才、风控人才和投后管理人才。
                dl
                    dt
                        a(href="javascript:void(0);")
                            img(src="imgs/product-3.png",alt="套利策略产品")
                    dd
                        h4
                            a(href="javascript:void(0);") 套利策略产品
                        p
                            a(href="javascript:void(0);").
                                该类产品的申购赎回通常每季度可进行，非常适合风险厌恶，经常有短期资金闲置的投资者。
                dl
                    dt
                        a(href="javascript:void(0);")
                            img(src="imgs/product-2.png",alt="量化产品")
                    dd
                        h4
                            a(href="javascript:void(0);") 量化产品
                        p
                            a(href="javascript:void(0);").
                                该产品可季度申购或赎回，流动性较好。适合厌恶风险、希望获取稳定收益的投资者。
                dl
                    dt
                        a(href="javascript:void(0);")
                            img(src="imgs/product-3.png",alt="定增产品")
                    dd
                        h4
                            a(href="javascript:void(0);") 定增产品
                        p
                            a(href="javascript:void(0);").
                                该产品客户认购的资金通常锁定1年到1年半，流动性较主动管理型产品偏弱，但具有更高的收益弹性。鼎锋可针对单个定增项目的具体情况，根据客户的特定需求定制交易架构和投资方案。
                dl
                    dt
                        a(href="javascript:void(0);")
                            img(src="imgs/product-1.png",alt="海外业务")
                    dd
                        h4
                            a(href="javascript:void(0);") 海外业务
                        p
                            a(href="javascript:void(0);").
                                随着中国转型的路径愈发清晰，海外资本看好中国市场，加大了对中国股市的配置，鼎锋资产也积极展开了与海外机构客户的沟通合作，目前已列入英国某机构投资者的投顾名单。
            .news-product.clearfix
                .areaheart
                    .slide-new
                        h3.slide-title
                            strong 新闻资讯
                        .news-container
                            dl
                                dt
                                    strong 22
                                    em 2016-05
                                dd
                                    h3
                                        a(href="new.html") 邝远平受邀参加丙申年黄帝故里拜祖大典
                                    p 本网洛阳4月10日讯（通讯员 王清）昨天上午，时值农历三月初三，是中华民族人文始祖轩辕黄帝的诞辰。丙申年黄帝故里拜祖大典...
                            dl
                                dt
                                    strong 22
                                    em 2016-05
                                dd
                                    h3
                                        a(href="new.html") 邝远平受邀参加丙申年黄帝故里拜祖大典
                                    p 本网洛阳4月10日讯（通讯员 王清）昨天上午，时值农历三月初三，是中华民族人文始祖轩辕黄帝的诞辰。丙申年黄帝故里拜祖大典...
                            dl
                                dt
                                    strong 22
                                    em 2016-05
                                dd
                                    h3
                                        a(href="new.html") 邝远平受邀参加丙申年黄帝故里拜祖大典
                                    p 本网洛阳4月10日讯（通讯员 王清）昨天上午，时值农历三月初三，是中华民族人文始祖轩辕黄帝的诞辰。丙申年黄帝故里拜祖大典...
                    .slide-product
                        h3.slide-title
                            strong 产品净值
                        .product-container
                            .t-head
                                include includes/table
                            .t-body
                                .t-content-1
                                    include includes/table
                                .t-content-2
                                    include includes/table
        include includes/footer
    script(src="lib/bower_components/jquery/dist/jquery.min.js")
    script(src="build/common.js")
    script(src="build/index.js")