doctype html
html(lang="zh-cn")
    head
        include includes/meta
        title 新闻资讯
        meta(name="description" content="巨盛财富公司新闻资讯")
        meta(name="keywords" content="新三板，基金，投资，理财，财富，巨盛基金，巨盛财富")
        link(rel="stylesheet" href="public/build/common.css")
        link(rel="stylesheet" href="public/build/mixture.css")
    body
        header
            .areaheart
                h1
                    a(href="index.html")
                        img(src="public/imgs/logo.png",alt="巨盛财富")
                ul
                    li
                        a(href="index.html") 首页
                    li
                        a(href="about.html") 走进巨盛
                        ul
                            li
                                a(href="about.html") 公司简介
                            li
                                a(href="about-2.html?sort=ry") 荣誉资质
                            li
                                a(href="about-3.html?sort=ys") 特点与优势
                            li
                                a(href="about-4.html?sort=jg") 组织机构
                    li
                        a(href="product.html") 旗下产品
                    li.active
                        a(href="news.html") 新闻资讯
                        ul
                            li.active
                                a(href="news.html") 巨盛资讯
                            li
                                a(href="news.html?sort=shidian") 巨盛视点
                    li
                        a(href="team.html") 巨盛团队
                        ul
                            li
                                a(href="team.html") 高管团队
                            li
                                a(href="team.html?sort=sc") 二级市场团队
                            li
                                a(href="team.html?sort=gq") 股权投资团队
                            li
                                a(href="team.html?sort=bg") 海外并购团队
                            li
                                a(href="team.html?sort=yx") 营销团队
                    li
                        a(href="javascript:void(0);") ENGLISH
        section
            .min-banner(style="background-image: url('public/imgs/min-show-01.png')")
                .areaheart
                    h2 专注与可信赖的巨盛财富
                    p JUSHENG WEALTH FOCUSED AND TRUSTED
            .section-container
                .areaheart.clearfix
                    include includes/nav-map
                    .new-content
                        .title
                            h3 邝远平受邀参加丙申年黄帝故里拜祖大典
                            p
                                span 来源：华人集团官网
                                span 时间：2016/04/11
                        .content
                            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本网洛阳4月10日讯（通讯员 王清）昨天上午，时值农历三月初三，是中华民族人文始祖轩辕黄帝的诞辰。丙申年黄帝故里拜祖大典在新郑黄帝故里隆重举行。受大典组委会邀请，华人集团董事局主席、武汉巨盛基金管理有限公司董事长、澳洲杰出华商协会会长邝远平作为海外嘉宾代表，与来自美国、英国、法国、瑞典、意大利、加拿大、澳大利亚、新加坡、马来西亚等30多个国家和地区的华人华侨共同见证了这一神圣时刻。
                            img(src="public/imgs/news-info-01.png",alt="01")
                            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在郑州期间，邝远平还与河南省投资集团有限公司总经理刘新勇就双方在投资基金、大数据产业园区、设立海外并购等方面携手合作进行了深入交流，达成了多项合作意向。
                            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;台湾地区原副领导人、两岸共同市场基金会荣誉董事长萧万长，台湾地区行政机构原负责人、中华文化总会会长刘兆玄，台湾地区立法机构原副负责人、台湾海峡两岸民意交流基金会董事长饶颖奇应邀出席大典。河南省政协主席叶冬松致欢迎辞，大典主司仪、中华全国归国华侨联合会主席林军主持大典，并宣布拜祖大典开始。
                            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大典仪程为九项，分别是“盛世礼炮、敬献花篮、净手上香、行施拜礼、恭读拜文、高唱颂歌、乐舞敬拜、祈福中华、天地人和”。上午十点四十分，林军主司仪宣布，丙申年黄帝故里拜祖大典告成。
                            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大典仪程为九项，分别是“盛世礼炮、敬献花篮、净手上香、行施拜礼、恭读拜文、高唱颂歌、乐舞敬拜、祈福中华、天地人和”。上午十点四十分，林军主司仪宣布，丙申年黄帝故里拜祖大典告成。
                            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全程观礼后，邝远平表示，2012年壬辰年黄帝故里拜祖大典时，自己也曾受政协河南省委员会、中华炎黄文化研究会以及当地市政府的邀请，参加大典。今天再次来到黄帝故里新郑，参加丙申年黄帝故里拜祖大典，感受到了河南经济、文化等各方面日新月异的发展。树高千丈，叶落归根，根在中原。这次“寻根拜祖”经历非常难忘；有这样的契机与各国侨商交流，非常难得。
                            img(src="public/imgs/news-info-02.png",alt="01")
                            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仪程结束后，邝远平随同中国侨联林军主席返回洛阳，陪同林军主席参观华人集团在洛阳投资的重点项目——炎黄科技园。邝远平汇报了华人集团、炎黄科技园和落户园区内的洛阳市为侨服务产业园的建设和招商情况，得到林军主席的肯定与鼓励。
                            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;河南省外事侨务办公室组织参加拜祖大典海外侨商代表团赴洛阳访问，参加第34届中国洛阳牡丹文化节。特邀加拿大华人商会永久荣誉会长方君学出任团长，邝远平出任副团长。今天，在洛阳市政府的安排下，邝远平陪同代表团参观了洛阳国家牡丹园、龙门石窟、洛阳博物馆等著名景点，代表团成员围绕庆典活动、参与中原经济区建设进行了深入沟通，达成了多项合作意向。
                            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明天，代表团将考察炎黄科技园，并与洛阳市人大、市政协、市外事侨务部门等相关负责人共同参加洛阳市华侨创新创业组织的海外代表团走进洛阳座谈会。
                            img(src="public/imgs/news-info-03.png",alt="01")
        include includes/footer
        script(src="public/lib/bower_components/jquery/dist/jquery.min.js")
        script(src="public/build/common.js")
        script(src="public/build/mixture.js")