doctype html
html(lang="zh-cn")
    head
        include includes/meta
        title 新闻资讯
        meta(name="description" content="巨盛财富公司新闻资讯")
        meta(name="keywords" content="新三板，基金，投资，理财，财富，巨盛基金，巨盛财富")
        link(rel="stylesheet" href="public/build/common.css")
        link(rel="stylesheet" href="public/build/mixture.css")
    body
        header
            .areaheart
                h1
                    a(href="index.html")
                        img(src="public/imgs/logo.png",alt="巨盛财富")
                ul
                    li
                        a(href="index.html") 首页
                    li
                        a(href="about.html") 走进巨盛
                        ul
                            li
                                a(href="about.html") 公司简介
                            li
                                a(href="about-2.html?sort=ry") 荣誉资质
                            li
                                a(href="about-3.html?sort=ys") 特点与优势
                            li
                                a(href="about-4.html?sort=jg") 组织机构
                    li
                        a(href="product.html") 旗下产品
                    li.active
                        a(href="news.html") 新闻资讯
                        ul
                            li.active
                                a(href="news.html") 巨盛资讯
                            li
                                a(href="news.html?sort=shidian") 巨盛视点
                    li
                        a(href="team.html") 巨盛团队
                        ul
                            li
                                a(href="team.html") 高管团队
                            li
                                a(href="team.html?sort=sc") 二级市场团队
                            li
                                a(href="team.html?sort=gq") 股权投资团队
                            li
                                a(href="team.html?sort=bg") 海外并购团队
                            li
                                a(href="team.html?sort=yx") 营销团队
                    li
                        a(href="javascript:void(0);") ENGLISH
        section
            .min-banner(style="background-image: url('public/imgs/min-show-01.png')")
                .areaheart
                    h2 专注与可信赖的巨盛财富
                    p JUSHENG WEALTH FOCUSED AND TRUSTED
            .section-container
                .areaheart.clearfix
                    .sidebar-left
                        dl.sidebar
                            dt
                                h3 新闻资讯
                                em NEWS
                            dd
                                a.active(href="javascript:void(0);") 巨盛资讯
                            dd
                                a(href="javascript:void(0);") 巨盛视点
                            dd
                                a(href="contact.html")
                                    img(src="public/imgs/contact-us-banner.png",alt="contact us")
                    .sidebar-right
                        ul.nav-map
                            li
                                span 您现在的位置：
                            li.map-page
                                a(href="index.html") 首页
                            li.map-page
                                a(href="javascript:void(0)") 新闻资讯
                            li
                                a(href="javascript:void(0)") 巨盛资讯
                        .content.news-page
                            ul.news-list
                                li.news-container
                                    dl
                                        dt
                                            strong 22
                                            em 2016-05
                                        dd
                                            .right-content
                                                a(href="new.html")
                                                    img(src="public/imgs/news-01.png",alt="news-title")
                                            .left-content
                                                h3
                                                    a(href="new.html") 邝远平受邀参加丙申年黄帝故里拜祖大典
                                                p 本网洛阳4月10日讯（通讯员 王清）昨天上午，时值农历三月初三，是中华民族人文始
                                li.news-container
                                    dl
                                        dt
                                            strong 22
                                            em 2016-05
                                        dd
                                            .right-content
                                                a(href="new.html")
                                                    img(src="public/imgs/news-02.png",alt="news-title")
                                            .left-content
                                                h3
                                                    a(href="new.html") 邝远平应邀赴广东省考察 “侨梦苑”
                                                p 本网洛阳4月10日讯（通讯员 王清）昨天上午，时值农历三月初三，是中华民族人文始祖轩辕黄帝的诞辰。丙申年黄帝故里拜祖大典...
                                li.news-container
                                    dl
                                        dt
                                            strong 22
                                            em 2016-05
                                        dd
                                            .right-content
                                                a(href="new.html")
                                                    img(src="public/imgs/news-03.png",alt="news-title")
                                            .left-content
                                                h3
                                                    a(href="new.html") 市总工会领导李丹芳会见邝远平一行
                                                p 本网洛阳4月10日讯（通讯员 王清）昨天上午，时值农历三月初三，是中华民族人文始
                                li.news-container
                                    dl
                                        dt
                                            strong 22
                                            em 2016-05
                                        dd
                                            .right-content
                                                a(href="new.html")
                                                    img(src="public/imgs/news-04.png",alt="news-title")
                                            .left-content
                                                h3
                                                    a(href="new.html") 邝远平提案被评为优秀提案
                                                p 本网洛阳4月10日讯（通讯员 王清）昨天上午，时值农历三月初三，是中华民族人文始
                                li.news-container
                                    dl
                                        dt
                                            strong 22
                                            em 2016-05
                                        dd
                                            .right-content
                                                a(href="new.html")
                                                    img(src="public/imgs/news-05.png",alt="news-title")
                                            .left-content
                                                h3
                                                    a(href="new.html") 邝远平应邀出席首届中国移动互联网+传统企业转型高峰论坛
                                                p 本网洛阳4月10日讯（通讯员 王清）昨天上午，时值农历三月初三，是中华民族人文始
                                li.news-container
                                    dl
                                        dt
                                            strong 22
                                            em 2016-05
                                        dd
                                            .right-content
                                                a(href="new.html")
                                                    img(src="public/imgs/news-06.png",alt="news-title")
                                            .left-content
                                                h3
                                                    a(href="new.html") 邝远平应邀出席企业融合创新暨全国首支诉讼融资基金论坛
                                                p 本网洛阳4月10日讯（通讯员 王清）昨天上午，时值农历三月初三，是中华民族人文始
                            include includes/page
        include includes/footer
        script(src="public/lib/bower_components/jquery/dist/jquery.min.js")
        script(src="public/build/common.js")
        script(src="public/build/mixture.js")