doctype html
html(lang="zh-cn")
    head
        include includes/meta
        title 旗下产品
        meta(name="description" content="巨盛财富旗下产品")
        meta(name="keywords" content="新三板，基金，投资，理财，财富，巨盛基金，巨盛财富")
        link(rel="stylesheet" href="build/common.css")
        link(rel="stylesheet" href="build/mixture.css")
    body
        header
            .areaheart
                h1
                    a(href="index.html")
                        img(src="imgs/logo.png",alt="巨盛财富")
                ul
                    li
                        a(href="index.html") 首页
                    li
                        a(href="about.html") 走进巨盛
                        ul
                            li
                                a(href="about.html") 公司简介
                            li
                                a(href="about-2.html?sort=ry") 荣誉资质
                            li
                                a(href="about-3.html?sort=ys") 特点与优势
                            li
                                a(href="about-4.html?sort=jg") 组织机构
                    li.active
                        a(href="product.html") 旗下产品
                    li
                        a(href="news.html") 新闻资讯
                        ul
                            li
                                a(href="news.html") 巨盛资讯
                            li
                                a(href="news.html?sort=shidian") 巨盛视点
                    li
                        a(href="team.html") 巨盛团队
                        ul
                            li
                                a(href="team.html") 高管团队
                            li
                                a(href="team.html?sort=sc") 二级市场团队
                            li
                                a(href="team.html?sort=gq") 股权投资团队
                            li
                                a(href="team.html?sort=bg") 海外并购团队
                            li
                                a(href="team.html?sort=yx") 营销团队
                    li
                        a(href="javascript:void(0);") ENGLISH
        section
            .min-banner(style="background-image: url('imgs/min-show-01.png')")
                .areaheart
                    h2 专注与可信赖的巨盛财富
                    p JUSHENG WEALTH FOCUSED AND TRUSTED
            .section-container
                .areaheart.clearfix
                    .sidebar-left
                        dl.sidebar.no-border
                            dt
                                h3 旗下产品
                                em PRODUCTS
                            dd
                                span
                        ul.product-list-side
                            li.active
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                            li
                                a(href="javascript:void(0);") 巨盛1期
                    .sidebar-right
                        ul.nav-map
                            li
                                span 您现在的位置：
                            li.map-page
                                a(href="index.html") 首页
                            li.map-page
                                a(href="javascript:void(0)") 旗下产品
                            li
                                a(href="javascript:void(0)") 巨盛1期
                        .content.product-page
                            ul.product-info-sort
                                li.active
                                    a(href="javascript:void(0);") 产品简介
                                li
                                    a(href="javascript:void(0);") 历史业绩
                                li
                                    a(href="javascript:void(0);") 走势图
                                li
                                    a(href="javascript:void(0);") 认购流程
                            ul.product-info-content
                                li.active.intro
                                    table
                                        tr
                                            th 产品名称：
                                            td 华宝信托•鼎锋4期证券投资资金信托计划
                                        tr
                                            th 产品类型：
                                            td 权益类
                                        tr
                                            th 投资顾问：
                                            td 上海鼎锋资产管理有限公司
                                        tr
                                            th 受托人(信托公司)：
                                            td 华宝信托
                                        tr
                                            th 保管银行：
                                            td 深圳发展银行
                                        tr
                                            th 证券经纪人(证券公司)：
                                            td 安信证券
                                        tr
                                            th 投资经理：
                                            td 李霖君
                                        tr
                                            th 成立日期：
                                            td 2010-8-10
                                        tr
                                            th 初始成立规模：
                                            td 8140
                                        tr
                                            th 封闭期 ：
                                            td 6个月
                                        tr
                                            th 存续期：
                                            td 5年 可续
                                        tr
                                            th 开放日：
                                            td 每月的20日（如遇节假日则为该日之后最近一个工作日）
                                        tr
                                            th 估值基准日：
                                            td 开放日及每周最后一个工作日
                                        tr
                                            th 固定管理费(含信托管理费、托管费等)：
                                            td 1.5%-1.7%
                                        tr
                                            th 浮动管理费：
                                            td 信托计划收益的18%
                                        tr
                                            th 银行保管费：
                                            td 信托单位净值的0.2%
                                        tr
                                            th 认(申)购最低金额：
                                            td 不低于人民币100万元，并可按1万元的整数倍增加
                                        tr
                                            th 认(申)购申请提交日：
                                            td 开放日前5天
                                        tr
                                            th 认(申)购费率：
                                            td 1%
                                        tr
                                            th 赎回申请提交日：
                                            td 封闭期满后，开放日的前6个工作日
                                        tr
                                            th 赎回费：
                                            td 无 封闭期为3%
                                        tr
                                            th 预警止损机制：
                                            td 止损线:0.70元；预警线 0.80元
                                        tr
                                            th 备注：
                                            td 以上各条款最终以产品合同为准
                                li.results
                                    table
                                        tr
                                            th 估值日
                                            th 单位净值(元)
                                            th 沪深300指数
                                            th 净值增长率(%)
                                            th 净值累计变动(%)
                                            th 沪深300增长率(%)
                                        tr
                                            td 2016/4/1
                                            td 3.6437
                                            td 3221.90
                                            td -0.26
                                            td 264.37
                                            td 0.75
                                        tr
                                            td 2016/3/25
                                            td 3.6531
                                            td 3197.82
                                            td -0.35
                                            td 265.31
                                            td 0.82
                                        tr
                                            td 2016/3/18
                                            td 3.6659
                                            td 3171.96
                                            td 3.94
                                            td 266.59
                                            td 5.09
                                        tr
                                            td 2016/3/11
                                            td 3.5271
                                            td 3018.28
                                            td 0.22
                                            td 252.71
                                            td -2.44
                                        tr
                                            td 2016/3/4
                                            td 3.5195
                                            td 3093.89
                                            td -0.69
                                            td 251.95
                                            td 4.95
                                        tr
                                            td 2016/2/26
                                            td 3.5439
                                            td 2948.03
                                            td -3.74
                                            td 254.39
                                            td -5.48
                                        tr
                                            td 2016/2/22
                                            td 3.6815
                                            td 3118.87
                                            td 0.40
                                            td 268.15
                                            td 2.20
                                        tr
                                            td 2016/4/1
                                            td 3.6437
                                            td 3221.90
                                            td -0.26
                                            td 264.37
                                            td 0.75
                                        tr
                                            td 2016/3/25
                                            td 3.6531
                                            td 3197.82
                                            td -0.35
                                            td 265.31
                                            td 0.82
                                        tr
                                            td 2016/3/18
                                            td 3.6659
                                            td 3171.96
                                            td 3.94
                                            td 266.59
                                            td 5.09
                                        tr
                                            td 2016/3/11
                                            td 3.5271
                                            td 3018.28
                                            td 0.22
                                            td 252.71
                                            td -2.44
                                        tr
                                            td 2016/3/4
                                            td 3.5195
                                            td 3093.89
                                            td -0.69
                                            td 251.95
                                            td 4.95
                                        tr
                                            td 2016/2/26
                                            td 3.5439
                                            td 2948.03
                                            td -3.74
                                            td 254.39
                                            td -5.48
                                        tr
                                            td 2016/2/22
                                            td 3.6815
                                            td 3118.87
                                            td 0.40
                                            td 268.15
                                            td 2.20
                                        tr
                                            td 2016/4/1
                                            td 3.6437
                                            td 3221.90
                                            td -0.26
                                            td 264.37
                                            td 0.75
                                        tr
                                            td 2016/3/25
                                            td 3.6531
                                            td 3197.82
                                            td -0.35
                                            td 265.31
                                            td 0.82
                                        tr
                                            td 2016/3/18
                                            td 3.6659
                                            td 3171.96
                                            td 3.94
                                            td 266.59
                                            td 5.09
                                        tr
                                            td 2016/3/11
                                            td 3.5271
                                            td 3018.28
                                            td 0.22
                                            td 252.71
                                            td -2.44
                                        tr
                                            td 2016/3/4
                                            td 3.5195
                                            td 3093.89
                                            td -0.69
                                            td 251.95
                                            td 4.95
                                        tr
                                            td 2016/2/26
                                            td 3.5439
                                            td 2948.03
                                            td -3.74
                                            td 254.39
                                            td -5.48
                                        tr
                                            td 2016/2/22
                                            td 3.6815
                                            td 3118.87
                                            td 0.40
                                            td 268.15
                                            td 2.20
                                        tr
                                            td 2016/4/1
                                            td 3.6437
                                            td 3221.90
                                            td -0.26
                                            td 264.37
                                            td 0.75
                                        tr
                                            td 2016/3/25
                                            td 3.6531
                                            td 3197.82
                                            td -0.35
                                            td 265.31
                                            td 0.82
                                        tr
                                            td 2016/3/18
                                            td 3.6659
                                            td 3171.96
                                            td 3.94
                                            td 266.59
                                            td 5.09
                                        tr
                                            td 2016/3/11
                                            td 3.5271
                                            td 3018.28
                                            td 0.22
                                            td 252.71
                                            td -2.44
                                        tr
                                            td 2016/3/4
                                            td 3.5195
                                            td 3093.89
                                            td -0.69
                                            td 251.95
                                            td 4.95
                                        tr
                                            td 2016/2/26
                                            td 3.5439
                                            td 2948.03
                                            td -3.74
                                            td 254.39
                                            td -5.48
                                        tr
                                            td 2016/2/22
                                            td 3.6815
                                            td 3118.87
                                            td 0.40
                                            td 268.15
                                            td 2.20
                                        tr
                                            td 2016/4/1
                                            td 3.6437
                                            td 3221.90
                                            td -0.26
                                            td 264.37
                                            td 0.75
                                        tr
                                            td 2016/3/25
                                            td 3.6531
                                            td 3197.82
                                            td -0.35
                                            td 265.31
                                            td 0.82
                                        tr
                                            td 2016/3/18
                                            td 3.6659
                                            td 3171.96
                                            td 3.94
                                            td 266.59
                                            td 5.09
                                        tr
                                            td 2016/3/11
                                            td 3.5271
                                            td 3018.28
                                            td 0.22
                                            td 252.71
                                            td -2.44
                                        tr
                                            td 2016/3/4
                                            td 3.5195
                                            td 3093.89
                                            td -0.69
                                            td 251.95
                                            td 4.95
                                        tr
                                            td 2016/2/26
                                            td 3.5439
                                            td 2948.03
                                            td -3.74
                                            td 254.39
                                            td -5.48
                                        tr
                                            td 2016/2/22
                                            td 3.6815
                                            td 3118.87
                                            td 0.40
                                            td 268.15
                                            td 2.20
                                li.trend
                                    .charts#charts
                                li.process
                                    img(src="imgs/033.gif",alt="process")
        include includes/footer
        script(src="lib/bower_components/jquery/dist/jquery.min.js")
        script(src="lib/bower_components/echarts/dist/echarts.min.js")
        script(src="lib/bower_components/highcharts/highcharts.js")
        script(src="build/common.js")
        script(src="build/mixture.js")
        script.
            $(function () {
                $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=usdeur.json&callback=?', function (data) {

                    $('#charts').highcharts({
                        chart: {
                            zoomType: 'x'
                        },
                        title: {
                            text: 'USD to EUR exchange rate over time'
                        },
                        subtitle: {
                            text: document.ontouchstart === undefined ?
                                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            title: {
                                text: 'Exchange rate'
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        plotOptions: {
                            area: {
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                },
                                marker: {
                                    radius: 2
                                },
                                lineWidth: 1,
                                states: {
                                    hover: {
                                        lineWidth: 1
                                    }
                                },
                                threshold: null
                            }
                        },

                        series: [{
                            type: 'area',
                            name: 'USD to EUR',
                            data: data
                        }]
                    });
                });
            });