@import "mxin/variables";

.sidebar-left {
  float: left;
  width: 220px;
}

.sidebar-right {
  margin-left: 220px;
  padding-left: 1.2rem;
  .content {
    font-size: 14px;
    &.img-center {
      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
    }
    &.about-page {
      padding: 40px 40px;
    }
    &.news-page {
      padding: 20px 10px 60px;
    }
    &.product-page {
      padding: 20px 38px 38px;
      border: {
        left: 1px solid #e8e8e8;
        right: 1px solid #e8e8e8;
        bottom: 1px solid #e8e8e8;
      }

      ul.product-info-sort {
        height: 60px;
        font-size: 0;
        li {
          float: left;
          &:not(:first-child) {
            padding-left: 8px;
          }
          a {
            display: block;
            padding: .6em 1em;
            font-size: 14px;
            color: #fff;
            background-color: $active_color;
            &:hover {
              background-color: #e4b034;
            }
          }
          &.active {
            a {
              background-color: #e4b034;
            }
          }
        }
      }
      ul.product-info-content {
        li {
          display: none;
          table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid $border_color;
            font-family: sans-serif;
            tr {
              font-size: 12px;
              line-height: 16px;
              color: #393939;
              &:nth-child(2n+1) {
                background-color: #f6f6f6;
              }
              th {
                padding: .6em 1em;
                border: 1px solid $border_color;
              }
              td {
                padding: .6em 1em;
                border: 1px solid $border_color;
              }
            }
          }
          &.active {
            display: block;
          }
          &.intro {
            th {
              width: 20%;
            }
            td {
              width: 80%;
            }
          }
          &.results {
            th, td {
              text-align: center;
            }
            th {
              font-weight: bold;
            }
          }
          &.trend {
            .charts, #charts {
              min-width: 568px;
              min-height: 300px;
            }
          }
          &.process {
            img {
              display: block;
              max-width: 100%;
              margin: 0 auto;
            }
          }
        }
      }
    }
    &.team-page {
      padding: 38px 55px;
    }
    &.contact-page {
      padding: 10px 38px;
    }
    p {
      line-height: 26px;
      text-align: justify;
      font-size: 14px;
      color: #777;
    }
    strong {
      font-weight: bold;
    }
  }
}
