
.page-box {
  text-align: center;
  font-size: 0;
}

ul.page {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    float: left;
    padding: 0 4px;
    a {
      display: block;
      height: 30px;
      padding: 0 10px;
      text-align: center;
      line-height: 30px;
      font-size: 16px;
      color: #666;
      text-decoration: none;
      &.p-link {
        background-color: #f2f0ec;
      }
      &.active,
      &.p-link:hover {
        color: #fff;
        background-color: #FECA14;
      }
      &.prev,
      &.next {
        position: relative;
        border: 1px solid #b4b4b4;
        border-radius: 3px;
      }
      &.prev {
        padding-left: 26px;
        padding-right: 14px;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 6px;
          width: 0;
          height: 0;
          margin-top: -6px;
          border: 6px solid transparent;
          border-right-color: #666;
        }
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 7px;
          width: 0;
          height: 0;
          margin-top: -6px;
          border: 6px solid transparent;
          border-right-color: #fff;
        }
      }
      &.next {
        padding-left: 14px;
        padding-right: 26px;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          right: 6px;
          width: 0;
          height: 0;
          margin-top: -6px;
          border: 6px solid transparent;
          border-left-color: #666;
        }
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 7px;
          width: 0;
          height: 0;
          margin-top: -6px;
          border: 6px solid transparent;
          border-left-color: #fff;
        }
      }
      &.disabled {
        cursor: default;
      }
    }
  }
}