@import "mxin/variables";
dl.sidebar {
  dt {
    position: relative;
    padding: 20px 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 0;
    color: #fff;
    background: linear-gradient(to top, $line-bottom, $line-top);
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 16px;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      background: {
        image: url("../../public/imgs/gallery_button_right.png");
        size: 100% 100%;
        repeat: no-repeat;
        position: center center;
      }
    }
    h3 {
      padding-bottom: 6px;
      font-size: 20px;
    }
    em {
      font-size: 12px;
    }
  }
  dd {
    border: {
      left: 1px solid #e8e8e8;
      right: 1px solid #e8e8e8;
    }
    font-size: 0;
    &:not(:last-child) {
      a {
        position: relative;
        display: block;
        border-bottom: 1px solid #e8e8e8;
        line-height: 46px;
        font-size: 14px;
        color: #252525;
        &.active {
          font-weight: bold;
        }
        padding: 0 20px;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          right: 16px;
          width: 16px;
          height: 16px;
          margin-top: -8px;
          background: {
            image: url("../../public/imgs/arr_right.png");
            size: 100% 100%;
            repeat: no-repeat;
            position: center center;
          }
        }
      }
    }
    &:last-child{
      a{
        display: block;
        border-bottom: 1px solid #e8e8e8;
        img{
          display: block;
          width: 100%;
        }
      }
    }
  }
}